<footer class="footer">
    <div>
        <p>TJENESTER</p>
    </div>
    <div>
        <p><a href="javascript:;">Kontakt</a></p>
        <p><a href="/eit-satellitt-i-norge/faq/">FAQ</a></p>
    </div>
    <div style="width: 100px"></div>
    <div>
        <p>INFORMASJON</p>
    </div>
    <div>
        <p><a href="javascript:;">Om oss</a></p>
        <p><a href="javascript:;">Om prosjektet</a></p>
        <p><a href="javascript:;">Informasjonskapsler</a></p>
    </div>
    <div style="width: 100px"></div>
    <div>
        <p>ANNET</p>
    </div>
    <div>
        <p><a href="javascript:;">Varsler</a></p>
    </div>
</footer>
