<nav class="nav-bar">
  <a href="/eit-satellitt-i-norge/">
    <div style="display: flex; flex-direction: row; align-items: center;">
    <img src="/eit-satellitt-i-norge/assets/images/satellite.svg" height="30" style="margin-right: 10px">
    MySat
  </div>
  </a>
  <div class="nav-links">
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}">
      <div class="nav-item">
        <p>
          {{ item.name }}
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
</nav>
<div class="nav-space"></div>