---
---
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Satellitt i Norge - Hjem</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/eit-satellitt-i-norge/assets/css/fullpage.min.css" />
	<link rel="stylesheet" href="/eit-satellitt-i-norge/assets/css/default.css" />
	<link rel="stylesheet" href="/eit-satellitt-i-norge/assets/css/main.css" />
	<script type="text/javascript" src="/eit-satellitt-i-norge/assets/scripts/fullpage.min.js"></script>
</head>

<body>
	{{ content }}
	<script>
		new fullpage('#fullpage');
	</script>
</body>

</html>