---
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Guide - {{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/eit-satellitt-i-norge/assets/css/default.css" />
    <link rel="stylesheet" href="/eit-satellitt-i-norge/assets/css/guide.css" />
</head>

{% assign url = page.url | prepend: "/eit-satellitt-i-norge" %}

<body>
    {% include navigation.html %}
    <div class="guide-body">
        <nav class="sidebar">
            {% for item in site.data.guides %}
            <a class="sidebar-item {% if url==item.link %}selected{% endif%}" href="{{ item.link }}">
                {{ item.name }}
            </a>
            {% for subitem in item.subpages %}
            <a class="sidebar-item sub {% if url==subitem.link %}selected{% endif%}" href="{{ subitem.link }}">
                {{ subitem.name }}
            </a>
            {% endfor %}
            {% endfor %}
        </nav>
        <div class="content-wrapper">
            {{ content }}
        </div>
        <div style="grid-area: empty; min-width: 250px;"></div>
    </div>
    {% include footer.html %}
</body>

</html>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
