---
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Guide - {{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/eit-satellitt-i-norge/assets/css/default.css" />
    <link rel="stylesheet" href="/eit-satellitt-i-norge/assets/css/guide.css" />
</head>

{% assign url = page.url | prepend: "/eit-satellitt-i-norge" %}

<body class="guide-body">
    {% include navigation.html %}
    <nav class="sidebar">
        {% for item in site.data.guides %}
        <a class="sidebar-item" href="{{ item.link }}" {% if url==item.link %} style="font-weight: bold;" {% endif %}>
            {{ item.name }}
        </a>
        {% for subitem in item.subpages %}
        <a class="sidebar-item sub" href="{{ subitem.link }}" {% if url==subitem.link %} style="font-weight: bold;" {%
            endif %}>
            {{ subitem.name }}
        </a>
        {% endfor %}
        {% endfor %}
    </nav>
    <div class="page-wrapper">
        <div class="content-wrapper">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>

</html>